@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

#background {
    width: 100%;
    position: relative;
}

#imgfon {
    width: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

#pres {
    top: 30%;
    margin-left: 50%;
    font-size: 45px;
    font-family: "Mulish", sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

#seccion1, #seccion3, #seccion4 {
    display: flex;
    width: 100%;
}

#arttxtder, .artimg {
    width: 50%;
}

.tit {
    font-size: 30px;
}

.txt {
    font-size: 23px;
}

.artimg {
    text-align: center;
}

#imgder {
    width: 90%;
    height: 90%;
}

#arttxtiz {
    margin-left: 2%;
}