@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

#divgrande   {
    width: 50%;
    margin-left: 25%;
}

#background {
    width: 100%;
    position: relative;
}

#imgfon {
    width: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

#pres {
    top: 30%;
    margin-left: 50%;
    font-size: 300%;
    font-family: "Mulish", sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

#seccion1, #seccion3, #seccion4 {
    display: flex;
    width: 100%;
}

#arttxtiz, .artimg, #arttxtder {
    width: 50%;
}

.tit {
    font-size: 200%;
}

.txt {
    font-size: 23px;
}

.artimg {
    text-align: center;
}

#imgder {
    width: 90%;
    height: 90%;
    margin-right: 15%;
}

#arttxtiz {
    margin-left: 10%;
    margin-right: 5%;
}

#seccion2 {
    background-color: rgb(0, 255, 170);
}

#flex {
    display: flex;
    width: 100%;
}

#pt1, #pt2 {
    width: 50%;
    display: flex;
}

.cont {
    width: 40%;
    margin: 6%;
    display: block;
}

.img {
    width: 100%;
}

#txtsec2 {
    text-align: center;
    font-size: 250%;
    padding-top: 5%;
}

.programs  {
    text-align: center;
    font-size: 60%;
}

#imgiz {
    width: 100%;
    height: 90%;
    margin-left: 15%;
    margin-top: 10%;
}

#arttxtder {
    margin-right: 10%;
    margin-left: 10%;
}

.sec4_1 {
    width: 50%;
    display: flex;
}

.imgsec4 {
    width: 50%;
}

#seccion5 {
    background-color: rgb(73, 161, 238);
    padding-top: 1%;
    padding-bottom: 1%;
}

#txtsec5 {
    font-size: 235%;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
}

footer {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    font-size: 60%;
    background-color: black;
    color: white;
}

#colf {
    margin-left: 10%;
}

#colf, #sepa {
    width: 50%;
}

#sepa {
    display: flex;
}

#colf_2 {
    margin-left: 25%;
}

@media screen and (max-width:1300px ) {
    #pres {
        font-size: 200%;
    }

    #imgder {
        width: 80%;
        height: 80%;
    }

    #imgiz {
        width: 90%;
        height: 80%;
    }

    .tit {
        font-size: 150%;
    }
    
    .txt {
        font-size: 19px;
    }

    #txtsec2 {
        font-size: 200%;
    }
}

@media screen and (max-width:1000px ) {
    #imgder {
        width: 70%;
        height: 70%;
        margin-top: 10%;
    }

    #imgiz {
        width: 80%;
        height: 70%;
        margin-top: 20%;
    }

    .tit {
        font-size: 125%;
    }
    
    .txt {
        font-size: 14px;
    }

    #txtsec2 {
        font-size: 150%;
    }
}

@media screen and (max-width:700px ) {

    .tit {
        font-size: 155%;
    }
    
    .txt {
        font-size: 17px;
    }

    #pres {
        font-size: 135%;
    }

    #seccion1, #seccion3, #seccion4, footer {
        display: block;
    }

    #arttxtiz {
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 0%;
    }

    .artimg {
        width: 100%;
    }

    #imgder {
        width: 100%;
        margin-top: 0%;
    }

    #txtsec2 {
        font-size: 150%;
        padding-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #arttxtder {
        margin-right: 0%;
        margin-left: 0%;
    }

    #flex {
        display: block;
    }

    #pt1, #pt2 {
        width: 100%;
    }

    .programs  {
        font-size: 70%;
    }

    #seccion3 {
        display: block;
    }

    #imgiz {
        margin-left: 0%;
        margin-top: 0%;
    }
    
    #arttxtder {
        width: 100%;
    }

    .sec4_1 {
        width: 100%;
    }

    #txtsec5 {
        font-size: 150%;
    }

    #colf, #sepa {
        width: 100%;
    }

    #colf_1 {
        margin-left: 10%;
    }

}